@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    overflow-x: hidden;
}

@font-face {
    font-family: Montserrat-Black;
    src: url('../assets/fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: InriaSans-Regular;
    src: url('../assets/fonts/InriaSans-Regular.ttf');
}

.mont-black {
    font-family: Montserrat-Black;
}

.mont-semi {
    font-family: Montserrat-Semibold
}

.inriasans-reg {
    font-family: InriaSans-Regular
}

.portfolio-item-label {
    transition: .5s;
    opacity: 0;
}

.portfolio-item-label:hover {
    background-color: rgba(0, 0, 0, .68);
    cursor: pointer;
    opacity: 1;
}

.uppercase {
    text-transform: uppercase;
}